@media (max-width: 1499px){
.pageTitle{
    margin-top:50px;
    margin-bottom: inherit;
}

.project {
    text-indent: 3vw;
    background-color: thistle;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    font-size:104%;
}


h2{
    text-align:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #421242;
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
}





h1 {
    text-align: center;
    color: white;
}

body {
    background-color: #592144;
    font-family: sans-serif;
}

.grid-container {
display: grid;
grid-template-columns: auto auto;
background-color: #2196F3;
padding: 10px;
}

.grid-item {
background-color: rgba(255, 255, 255, 0.8);
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 20px;
font-size: 30px;
text-align: center;
}

img, video {
    margin-left: 1vw;
    margin-right: auto;
    height: auto; 
    width: 85%; 
    max-width: 400px; 
    max-height: 400px;
    box-shadow: 0 6px 20px;
}

.links {
    display: inline-block;
}
/*     ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #421242;
        position: fixed;
            top: 0;
            width: 100%;
        } */

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #8C1F80;
}

#path12146 {
    stroke-dasharray: 1013;
    stroke-dashoffset: 1013;
    fill: black;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke-width: 0.264583;
    animation: sign 40s ease;
    animation-fill-mode: forwards;
}

@keyframes sign {
    to {
        stroke-dashoffset: 0;
    }
}

}